.clock {
    color: rgba(50,50,50,0.35);
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 23ch;

    /*font-size: calc(14px + (75 - 10) * ((100vw - 30px) / (1600 - 300)));*/
    /*font-size: calc(14px + (75 - 10) * ((100vw - 30px) / (1600 - 300)));*/
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}
.clock div {
    display: inline;
}

.clock div div p {
    position: absolute;
    max-width: 1ch;
    text-align: center;
    margin: 0px;
    transition: 0.3s ease color, 0.3s ease text-shadow;
}
.clock div p.active {
    color: rgba(230,43,30,0.8);
    font-weight: 600;
    text-shadow: 0px 0px 20px rgba(230,43,30,1);
}

.clock div div {
    display: inline-block;
    min-width: 1ch;
}

.clockseparator{
    color: rgba(230,43,30,0.8);
    text-shadow: 0px 0px 20px rgba(230,43,30,1);
}
